.title {
    font-size: 15px;
    color: #333;
}

.map {
    list-style: none;
    margin-left: 180px;
}

@media (max-width: 768px) {
    .map {
        margin: 0 auto;
        margin-top: 30px;
    }
}

@media (max-width: 1200px) {
    .map {
        margin: 0 auto;
    }
}